In [73]:
# bibliotecas
import pandas as pd

In [74]:
# importando a base
df = pd.read_csv('CASE_PRATICO_SAMS_CLUB.csv')

In [75]:
# descritivo da base
df.describe()

,id_clube,socio,item_id,item_unidade,receita_bruta,margem
count,878596.000000,8.785960e+05,8.785960e+05,878596.000000,878596.000000,878596.000000
mean,6308.761837,4.575835e+16,1.232072e+06,1.477983,32.646677,5.576704
std,665.253679,6.793028e+12,1.298008e+04,3.228101,110.421399,26.760466
min,5235.000000,4.574401e+16,1.215153e+06,-425.000000,-16781.880000,-9445.030000
25%,6059.000000,4.575210e+16,1.222549e+06,1.000000,11.360000,2.230000
50%,6169.000000,4.575222e+16,1.230923e+06,1.000000,19.270000,4.110000
75%,6183.000000,4.576510e+16,1.236365e+06,1.000000,33.360000,7.470000
max,7780.000000,4.576610e+16,1.268287e+06,1092.000000,34006.250000,6291.290000

In [76]:
# colunas
df.columns

Index(['periodo', 'id_clube', 'socio', 'canal', 'ticket', 'departamento',
       'item_id', 'item_descricao', 'item_unidade', 'receita_bruta', 'margem'],
      dtype='object')

In [125]:
df['ticket'].nunique()

75337

In [77]:
# amostra
df.head()

,periodo,id_clube,socio,canal,ticket,departamento,item_id,item_descricao,item_unidade,receita_bruta,margem
0,2022-01-10,5235,45765100809381908,PISO,4576510080938190820220110,BAZAR E TÊXTIL,1259475,CALCAO,2,81.17,22.43
1,2022-01-10,5235,45766100903265726,PISO,4576610090326572620220110,BAZAR E TÊXTIL,1259475,CALCAO,1,41.27,11.90
2,2022-01-10,5235,45765100815078019,PISO,4576510081507801920220110,BAZAR E TÊXTIL,1225017,CHAPEU PRAIA,1,51.27,11.10
3,2022-01-10,5235,45766100904345030,PISO,4576610090434503020220110,BAZAR E TÊXTIL,1216504,BANCO DOBRAVEL,1,81.34,22.93
4,2022-01-10,5235,45766100903286284,PISO,4576610090328628420220110,BAZAR E TÊXTIL,1259473,BERMUDA MOLETOM,2,201.17,46.37

In [78]:
# verificando registros vazios
registros_vazios = df[df.isna().any(axis=1)]
registros_vazios

Empty DataFrame
Columns: [periodo, id_clube, socio, canal, ticket, departamento, item_id, item_descricao, item_unidade, receita_bruta, margem]
Index: []

## Itens mais populares

Quais itens possuem mais ticket

In [174]:
top_10_produtos_tickets = df.groupby(['departamento', 'periodo', 'item_descricao'])['ticket'].nunique().reset_index()
top_10_produtos_tickets.to_excel('outputs/top_10_produtos_populares.xlsx', index=False)
top_10_produtos_tickets

          departamento     periodo                 item_descricao  ticket
0       BAZAR E TÊXTIL  2022-01-10            1 TRICICLO INFANTIL       2
1       BAZAR E TÊXTIL  2022-01-10  100 LUZES DE LED ESTRELA 127V       1
2       BAZAR E TÊXTIL  2022-01-10    2 CUECAS BOXER LK ALGODAO G       1
3       BAZAR E TÊXTIL  2022-01-10       2 JGS LENCOIS 300F CASAL      15
4       BAZAR E TÊXTIL  2022-01-10        2 JGS LENCOIS 300F KING      14
...                ...         ...                            ...     ...
27042       PERECÍVEIS  2022-01-12    YOS GREGO PIA MORANGO 100 G       1
27043       PERECÍVEIS  2022-01-12           ZAMIOCULCA P20 PT 20       1
27044  SERVICO DIGITAL  2022-01-10                          FRETE     624
27045  SERVICO DIGITAL  2022-01-11                          FRETE     535
27046  SERVICO DIGITAL  2022-01-12                          FRETE     513

[27047 rows x 4 columns]

## Itens que geraram mais receita

In [163]:

top_10_produtos_receita = df.groupby(['departamento', 'periodo', 'item_descricao'])['receita_bruta'].nunique().reset_index()
top_10_produtos_receita

departamento     periodo     item_descricao
BAZAR E TÊXTIL   2022-01-10  1 TRICICLO INFANTIL              2
                             100 LUZES DE LED ESTRELA 127V    1
                             2 CUECAS BOXER LK ALGODAO G      1
                             2 JGS LENCOIS 300F CASAL         2
                             2 JGS LENCOIS 300F KING          1
                                                             ..
PERECÍVEIS       2022-01-12  YOS GREGO PIA MORANGO 100 G      1
                             ZAMIOCULCA P20 PT 20             1
SERVICO DIGITAL  2022-01-10  FRETE                            4
                 2022-01-11  FRETE                            4
                 2022-01-12  FRETE                            3
Name: receita_bruta, Length: 27023, dtype: int64

## Itens que geraram mais margem

In [164]:

top_10_produtos_margem = df.groupby(['departamento', 'periodo', 'item_descricao'])['margem'].nunique().reset_index()
top_10_produtos_margem

departamento     periodo     item_descricao
BAZAR E TÊXTIL   2022-01-10  1 TRICICLO INFANTIL               2
                             100 LUZES DE LED ESTRELA 127V     1
                             2 CUECAS BOXER LK ALGODAO G       1
                             2 JGS LENCOIS 300F CASAL         12
                             2 JGS LENCOIS 300F KING           9
                                                              ..
PERECÍVEIS       2022-01-12  YOS GREGO PIA MORANGO 100 G       1
                             ZAMIOCULCA P20 PT 20              1
SERVICO DIGITAL  2022-01-10  FRETE                             7
                 2022-01-11  FRETE                             7
                 2022-01-12  FRETE                             7
Name: margem, Length: 27023, dtype: int64

## Ticket médio

Em cada compra/ticket, quando produtos em média são comprados

In [82]:
df['ticket'].count() / df['ticket'].nunique()

11.65586775982382

## Combos promocionais

Dentre os itens populares encontrados acima, quais são os produtos mais relacionados

In [175]:
# Ler os dados do arquivo CSV para um DataFrame
df = pd.read_csv('CASE_PRATICO_SAMS_CLUB.csv')

# Calcular os top 10 produtos por departamento e período
top_10_produtos_por_departamento = df.groupby(['departamento', 'periodo', 'item_descricao'])['ticket'].nunique().groupby(['departamento', 'periodo']).nlargest(10)

# Lista para armazenar os resultados
resultados = []

# Iterar sobre cada grupo de departamento e período
for (departamento, periodo), top_10_produtos in top_10_produtos_por_departamento.groupby(level=[0, 1]):
    # Iterar sobre cada produto dos top 10
    for produto in top_10_produtos.index.get_level_values('item_descricao'):
        # Encontrar os 15 produtos mais frequentemente comprados junto com o produto de referência
        tickets_produto_referencia = df[(df['departamento'] == departamento) & (df['periodo'] == periodo) & (df['item_descricao'] == produto)]['ticket'].unique()
        dados_combo = df[df['ticket'].isin(tickets_produto_referencia)]
        relacionados = dados_combo[dados_combo['item_descricao'] != produto].groupby('item_descricao')['ticket'].nunique().nlargest(15)
        # Adicionar os resultados à lista
        for produto_relacionado, contagem in relacionados.items():
            resultados.append({'departamento': departamento, 'periodo': periodo, 'produto_referencia': produto, 'produto_relacionado': produto_relacionado, 'contagem': contagem})

# Converter a lista de resultados em um DataFrame
resultados_df = pd.DataFrame(resultados)

# Salvar os resultados em um arquivo CSV
resultados_df.to_excel('outputs/resultados_combos.xlsx', index=False)

# Exibir os resultados
print(resultados_df)

         departamento     periodo           produto_referencia  \
0      BAZAR E TÊXTIL  2022-01-10  CONJ POTES EM VIDRO 6 PECAS
1      BAZAR E TÊXTIL  2022-01-10  CONJ POTES EM VIDRO 6 PECAS
2      BAZAR E TÊXTIL  2022-01-10  CONJ POTES EM VIDRO 6 PECAS
3      BAZAR E TÊXTIL  2022-01-10  CONJ POTES EM VIDRO 6 PECAS
4      BAZAR E TÊXTIL  2022-01-10  CONJ POTES EM VIDRO 6 PECAS
...               ...         ...                          ...
3190  SERVICO DIGITAL  2022-01-12                        FRETE
3191  SERVICO DIGITAL  2022-01-12                        FRETE
3192  SERVICO DIGITAL  2022-01-12                        FRETE
3193  SERVICO DIGITAL  2022-01-12                        FRETE
3194  SERVICO DIGITAL  2022-01-12                        FRETE

                      produto_relacionado  contagem
0               SACOLA PLASTICA MM BRANCA        46
1         PH PERSONAL VIP FD 40 ROLOSX30M        35
2     PAPEL TOALHA KITCHEN JUMB FD C360FL        32
3      MM LAVA ROUPAS 5LTS ULTIMATE CLEAN        29
4                 PH NEVE FT 20M L32P28UN        23
...                                   ...       ...
3190   MANTEIGA COM SAL MEMBERS MARK 500G        22
3191      AGUA SANITARIA 5LT MEMBERS MARK        21
3192   MM LAVA ROUPAS 5LTS ULTIMATE CLEAN        21
3193   LIMPOL LIQ 6X500ML DETERG LIQ COCO        20
3194    MON BIJOU PUREZA 5LT AMAC DILUIDO        19

[3195 rows x 5 columns]